@using CoursePlatform.Models;
@using CoursePlatform.Attributes;
@{
    ViewBag.Title = "الرئيسية - لوحة التحكم";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    CoursePlatformEntities db = new CoursePlatformEntities();
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">لوحة التحكم</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    @if (Session["UserType"].ToString() == Enum.GetName(typeof(Role), 2))
    {
        var courses = db.CP_Course.ToList();
        foreach (var course in courses)
        {

            <div class="row">
                <div class="col-lg-12">
                    <h3>@course.Name</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <div class="huge">@db.CP_Duration.Where(d => d.CourseID == course.ID).Count()</div>
                                    <div>الدورات !</div>
                                </div>
                            </div>
                        </div>
                        <a href="/Duration/Index/@course.ID">
                            <div class="panel-footer">
                                <span class="pull-left">ظهور التفاصيل</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-registered fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <div class="huge">@db.CP_RegisteredCourse.Where(r => r.CourseID == course.ID).Count()</div>
                                    <div>طلاب مسجلين !</div>
                                </div>
                            </div>
                        </div>
                        <a href="/Course/RegisteredStudents/@course.ID">
                            <div class="panel-footer">
                                <span class="pull-left">ظهور التفاصيل</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        var courseId = Int32.Parse(Session["CourseId"].ToString());
        var course = db.CP_Course.Find(courseId);

        <div class="row">
            <div class="col-lg-12">
                <h3>@course.Name</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <div class="huge">@db.CP_Duration.Where(d => d.CourseID == course.ID).Count()</div>
                                <div>الدورات !</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Duration/Index/@course.ID">
                        <div class="panel-footer">
                            <span class="pull-left">ظهور التفاصيل</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-registered fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <div class="huge">@db.CP_RegisteredCourse.Where(r => r.CourseID == course.ID).Count()</div>
                                <div>طلاب مسجلين !</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Course/RegisteredStudents/@course.ID">
                        <div class="panel-footer">
                            <span class="pull-left">ظهور التفاصيل</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<!-- /#page-wrapper -->
